.bankContainer {
    height: fit-content;
    max-height: 350px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;

    width: 200px;
    background-color: beige;
    border: beige;
    padding: 8px;
    border-radius: 8px;
}

.alignmentContainer {
    justify-content: center;
    width: fit-content;
}


.innerBankContainer {
    display: flex;
    justify-content: space-between;
}

.mostInnerContainer {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 5px;
}

.containerTitle {
    padding-bottom: 1em;
}

.bankButton:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.bankButton {
    border: white;
    color: black;
    padding: 8px;
    border-radius: 12px;
    height: 40px;
    margin: 4px;
}

#bankBtn {
    background-color: blue;
    color: white;
    margin-top: 2em;
}

#workBtn {
    background-color: yellow;
    margin-top: 2em;
}

#getLoan {
    background-color: lightgreen;
    margin-top: 3em;
}
#payLoanBtn {
    background-color: lightseagreen;
}

#buyBtn {
    background-color:orange;
    width: 100px;
}

.container {
    display: flex;  
    width: 100%;
    justify-content: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    margin: 0;
}

h1 {
    text-align: center;
    background-color: rgb(75, 75, 75);
    align-items: center;
    width: 100%;
    padding-top: 0.5em;
    padding-right: 16em;
    padding-bottom: 0.5em;
    margin: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

#features {
    overflow-wrap: break-word;
}

.dualBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.dualBtn {
    width: 80px;
    height: 40px;
    border: none;
    padding: 8px;
    border-radius: 12px;
}

.laptopView {
    display: flex;
    justify-content: center;
    margin: 24px;

    background-color: beige;
    border: lightgrey solid;
    border-width: 0.1px;
    border-radius: 12px;
}

.laptopInfo {
    margin: 24px;
    height: min-content;
    overflow-wrap: break-word;
}

.laptopPrice {
    margin: 24px;
}

#laptopDesc {
    overflow-wrap: break-word;
    width: 300px;
}

.innerLaptopPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    border: solid lightgrey;
    border-width: 0.1px;
    padding: 8px;
    border-radius: 12px;
    background-color: beige;
    width: 150px;
    height: 150px;
}


